.admin-header {
    width: 100%;


    .headerWrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: center;

        .title {
            font-size: 2.5em;
            color: var(--prclr);

        }

        .searchbar {
            width: 300px;
            height: 45px;
            overflow: hidden;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid var(--prclr);

            input {
                width: calc(100% - 45px);
                height: 100%;
                border: none;
                outline: none;
                font-size: 1em;
                padding: 0 15px;
            }

            button {
                width: 45px;
                height: 45px;
                background: var(--prclr);
                color: var(--scclr);
                font-size: 1.1em;
                border: none;
                outline: none;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }

        .nav-btn {
            display: none;

            button {
                border: none;
                outline: none;
                font-size: 1.2em;
            }
        }

        .bottom-navigation {
            padding: 15px;
            position: absolute;
            display: none;
            bottom: 15px;
            right: 0;
            z-index: 5;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;

            .prof-det {
                width: 100%;
                display: flex;
                gap: 15px;
                color: var(--scclr);
                align-items: center;
                margin: 10px 0;
            }

            .bot-nav-links {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                gap: 20px;

                .collapsible {
                    display: flex;
                    padding: 5px;
                    height: 0px;
                    overflow: hidden;
                    flex-direction: column;
                    justify-content:space-between;
                    align-items: center;
                    gap: 20px;
                    transition: 0.5s ease;
                    background: var(--scclr);
                    visibility: hidden;
                    border-radius: 3px;

                    .link {
                        visibility: hidden;
                        transition: 0.5s ease;

                    }

                    &.active {
                        height: 230px;
                        transition: 0.5s ease;
                        visibility: visible;

                        .link {
                            visibility: visible;
                            transition: 0.5s ease;

                        }
                    }
                }

                .link {
                    a {
                        text-decoration: none;
                        padding: 6px;
                        background: var(--prclr);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: var(--scclr);
                        border-radius: 3px;
                    }

                    button {
                        text-decoration: none;
                        border: none;
                        outline: none;
                        padding: 6px;
                        background: var(--prclr);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: var(--scclr);
                        border-radius: 3px;
                    }
                }
            }
        }
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (max-width:990px) {
    .admin-header {
        .headerWrap {
            padding: 10px;

            .title {
                font-size: 1.5em;
            }

            .searchbar {
                display: none;
            }

            .nav-btn {
                display: block;
            }

            .bottom-navigation {
                display: block;
            }

        }
    }
}