.stats {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;

    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #e0e5ec;

    .sec-title {
        padding: 5px 0;
        gap: 15px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid var(--greyLight-3);
        text-transform: uppercase;
    }

    .btn {
        padding: 15px;
        border-radius: 8px;
        box-shadow: .3rem .3rem .6rem var(--greyLight-2),
            -.2rem -.2rem .5rem var(--white);
        $inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
            inset -.2rem -.2rem .5rem var(--white);
        border: none;
        justify-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: .3s ease;
        outline: none;

        &__primary {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
            background: var(--primary);
            box-shadow: inset .2rem .2rem 1rem var(--primary-light),
                inset -.2rem -.2rem 1rem var(--primary-dark),
                .3rem .3rem .6rem var(--greyLight-2),
                -.2rem -.2rem .5rem var(--white);
            $inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
                inset -.2rem -.2rem .5rem var(--white);
            color: var(--greyLight-1);

            &:hover {
                color: var(--white);
            }

            &:active {
                box-shadow: inset .2rem .2rem 1rem var(--primary-dark),
                    inset -.2rem -.2rem 1rem var(--primary-light);
            }
        }
    }

    .statsWrap {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        .luckynumbers {
            width: 100%;
            padding: 20px;
            display: flex;
            align-items: center;
            gap: 30px;

            .shubhank {
                width: 300px;
                height: 150px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                box-shadow: .3rem .3rem .6rem var(--greyLight-2),
                    -.2rem -.2rem .5rem var(--white);
                $inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
                    inset -.2rem -.2rem .5rem var(--white);
                border-radius: 10px;
            }

            .finalank {
                width: 300px;
                height: 150px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                box-shadow: .3rem .3rem .6rem var(--greyLight-2),
                    -.2rem -.2rem .5rem var(--white);
                $inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
                    inset -.2rem -.2rem .5rem var(--white);
                border-radius: 10px;

            }

            .btns {
                padding: 8px;
                display: flex;
                gap: 15px;
                align-items: center;


            }

        }

        .adds-edit {
            width: 100%;
            padding: 25px;

            .adds-grid {
                width: 100%;
                height: 100%;
                display: grid;
                gap: 10px;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                margin: 20px 0;

                .adds-view {
                    width: 100%;
                    min-height: 200px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                    overflow: hidden;
                    box-shadow: .3rem .3rem .6rem var(--greyLight-2),
                        -.2rem -.2rem .5rem var(--white);
                    $inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
                        inset -.2rem -.2rem .5rem var(--white);
                    border-radius: 10px;

                    p {
                        text-align: center !important;
                        font-weight: 500;
                        color: black !important;
                    }

                    .ads-heads {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 0.8em;
                        padding: 5px 0;
                        border-bottom: 1px solid gray;
                        padding: 15px;
                        background: var(--greyDark);
                        color: #efffef;
                        text-transform: uppercase;

                        button {
                            background: transparent;
                            border: none;
                            color: inherit;
                        }
                    }
                }
            }
        }

        .netweekly-edit {
            width: 100%;
            padding: 25px;

            .net-week-wrap {
                width: 100%;
                margin: 20px 0;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .net-card {
                    width: 100%;
                    min-height: 200px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    position: relative;
                    overflow: hidden;
                    box-shadow: .3rem .3rem .6rem var(--greyLight-2),
                        -.2rem -.2rem .5rem var(--white);
                    $inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
                        inset -.2rem -.2rem .5rem var(--white);
                    border-radius: 10px;

                    &:hover {
                        .btns-cont {
                            right: 0;
                            transition: 0.5s ease;
                        }
                    }

                    .net-title {
                        width: 100%;
                        text-align: center;
                        background: var(--greyDark);
                        color: white;
                        font-size: 1.3em;
                    }

                    .netcontent {
                        width: 100%;
                        text-align: center;
                        font-size: 1.2em;
                    }

                    .btns-cont {
                        position: absolute;
                        bottom: 0;
                        right: -100%;
                        padding: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: 1s ease;
                        border-top-left-radius: 8px;
                        z-index: 2;
                    }
                }
            }
        }

        .daynight-guessing {
            width: 100%;
            padding: 25px;

            .dynt-grid {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto;
                gap: 20px;
                margin: 20px 0;

                .dynt-item {
                    min-height: 200px;
                    border-radius: 8px;
                    box-shadow: .3rem .3rem .6rem var(--greyLight-2),
                        -.2rem -.2rem .5rem var(--white);
                    $inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
                        inset -.2rem -.2rem .5rem var(--white);
                    border-radius: 10px;
                    overflow: hidden;
                    position: relative;


                    &:hover .btn-cont {
                        bottom: 10px;
                        transition: 0.5s;
                    }

                    .ttl {
                        text-align: center;
                        text-transform: uppercase;
                        width: 100%;
                        padding: 10px;
                        background: var(--greyDark);
                        color: white;
                    }

                    .guess-cont {
                        padding: 15px;

                        p {
                            text-align: center;
                            font-weight: 600;
                        }
                    }

                    .btn-cont {
                        position: absolute;
                        right: 10px;
                        bottom: -100%;
                        display: flex;
                        z-index: 2;
                        justify-content: end;
                        transition: 0.5s;
                    }
                }
            }
        }

        .weeknumtable-view {
            width: 100%;
            padding: 25px;

            .weeknumview-wrap {
                width: 100%;

                .weeknum-tbl {
                    width: 100%;
                    margin: 20px 0;
                    box-shadow: .3rem .3rem .6rem var(--greyLight-2),
                        -.2rem -.2rem .5rem var(--white);
                    $inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
                        inset -.2rem -.2rem .5rem var(--white);
                    border-radius: 10px;
                    overflow: hidden;

                    h1{
                        width: 100%;
                        padding: 10px;
                        text-align: center;
                        background: var(--greyDark);
                        color: white;
                        text-transform: uppercase;
                    }


                    .tbl-wrap {
                        width: 100%;
                        

                        table {
                            border-collapse: collapse;
                            width: 100%;


                            tbody {
                                width: 100%;

                                tr {
                                    border: 2px solid var(--greyDark);

                                    &:last-child {
                                        border-bottom-left-radius: 8px;
                                    }

                                    td {
                                        border-left: 2px solid var(--greyDark);
                                        border-right: 2px solid var(--greyDark);

                                        input{
                                            width: 40px;
                                            height: 40px;
                                        }

                                        &:nth-child(1) {
                                            font-size: 1.5em;
                                            text-align: center;
                                            padding: 10px 0;
                                            font-weight: 600;
                                            text-transform: uppercase;

                                        }

                                        .weekNumCol {
                                            width: 100%;
                                            height: 100%;
                                            display: flex;
                                            justify-content: space-between;
                                            align-items: center;


                                            .left {
                                                width: 50%;
                                                height: 100%;
                                                font-size: 2em;
                                                text-align: center;
                                                padding: 10px 0;
                                                font-weight: 600;
                                                color: var(--greyDark);




                                            }

                                            .right {
                                                width: 50%;
                                                height: 100%;
                                                font-size: 1.2em;
                                                text-align: center;
                                                text-align: center;
                                                border-left: 2px solid var(--greyDark);

                                                .rightTop {
                                                    border-bottom: 2px solid var(--greyDark);
                                                    padding: 8px 0;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: center;

                                                }

                                                .rightBottom {
                                                    padding: 8px 0;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: center;


                                                }
                                            }
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
            }
        }

    }
}