.jodi {
    width: 100%;
    margin: 20px 0;
    // padding: 25px;

    .jodiWrap {
        width: 100%;

        .jodiTable {
            width: 100%;

            h1 {
                text-align: center;
                padding: 20px 0;
            }

            table {
                width: 100%;
                border-collapse: collapse;

                thead {
                    width: 100%;
                    background: var(--primary-color);

                    tr {
                        width: 100%;

                        th {
                            text-align: center;
                            padding: 10px;
                            color: var(--neon-color);
                            text-transform: uppercase;
                            border-left: 1px solid #50ff5f4a;
                            border-right: 1px solid #50ff5f4a;
                        }
                    }
                }
            }

            tbody {
                width: 100%;

                tr {
                    width: 100%;
                    border-top: 1px solid #ffffff4a;
                    border-bottom: 1px solid #ffffff4a;


                    td {
                        padding: 20px 0;
                        border-left: 1px solid #50ff5f4a;
                        border-right: 1px solid #50ff5f4a;
                        text-align: center;
                        font-size: 1.8em;
                        font-weight: 600;

                        .weekWrap{
                            
                            &.hilite{
                                color: #ff3131;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:991px) {
    .jodi{
        .jodiWrap{
            .jodiTable{
                table{
                    thead{
                        tr{
                            th{
                                padding: 5px;
                            }
                        }
                    }
                    tbody{
                        tr{
                            td{
                               font-size: 0.8em; 
                            }
                        }
                    }
                }
            }
        }
    }

    

    
}